/* * {
  border : 1px solid red;
} */

.card {
  background-color: greenyellow;
  margin-top: 20px;
  width: 230px;
  height: 268px;
  padding-bottom: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 2px 2px 9px .1px;
  transition: .3s all;
}

 
.card:hover{
  transform: scale(1.1);
  box-shadow: 4px 5px 20px;
  
}

.close { 
  position: relative;
  bottom: 235px;
  left: 180px;
  width:50px;
  height: 30px;
  background-color: hsla(90, 100%, 20%, 50%);
  border: none;
  border-bottom-left-radius: 5px;
  color: white;
  transition: .3s all,
}

.close:hover {
  background-color: red;
}

.fav {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;

}

.favb{
  border-radius: 50%;
  position: relative;
  bottom: 45px;
  right: 35px;
  border: none;
}

a {
  text-decoration: none;
}

.name {
  color: hsl(190, 70%, 30%);
  -webkit-text-stroke: 0,5px;
  font-size:13.5px;
  text-align: center;
  transition: .3s all;
}

.img {
  width: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  top: 1px;

}


