.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2%;
}

.paginateContainer {
  padding: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  top: 88%;
}

.paginateContainer a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(280, 100%, 50%);;
  cursor: pointer;
}

.paginateContainer a:hover {
  background-color: darkgrey;
  color: aliceblue;
}
.activePag a {
  background-color: hsl(280, 100%, 50%);
  color:aliceblue;
}
