.nav{
    background-color: lightskyblue;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

.bar{
    text-decoration: none;
}
span{
    margin: 50px;
    font-size: 30px;
}


