.container{
    padding-top: 8px;
    padding-bottom: 30px;
    width: 80%;
    background:  hsla(175, 50%, 25%, 30%);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    margin: auto;
    margin-top: 120px;
}

.title{
    font-family: 'Denk one', cursive;
    -webkit-text-stroke: .5px black;
    color: white;
    padding: 4%;
    text-align:center;
    
}

.text, .text a{
    font-family: 'Denk one', cursive;
    -webkit-text-stroke: 1.5px black;
    color: white;
    font-size: 1.6rem;
    text-align:center;  
    line-height: 1.5em;
    clip-path: fill-box;
}

.text li {
    list-style: none;
}
