.container {
  padding-top: 90px;
  text-align: center;
}

.pic {
  margin-top: 35px;
  margin-bottom: 15px;
  width: 250px;
  display: inline;
  border-radius: 50%;
  border: 3px solid hsl(90, 70%, 40%);
  box-shadow: 0px 0px 28px 4px hsl(90, 70%, 40%);
}

.data {
  -webkit-text-stroke: .01px greenyellow;
  font-size: xx-large;
  color: hsl(200, 50%, 30%);
  font-family: 'Creepster', cursive;
  line-height: 120%;
}

